<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/pc-default-layout.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{page.title.pc.faqDetail}">[DAESANG SSL VPN] PC FAQ DETAIL</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/pc/faq/faq.css}" >
        <link rel="stylesheet" th:href="@{/css/pc/common/responsive.css}">
    </th:block>

    <th:block layout:fragment="script">
        <script>
            const pageName = "PC_FAQ-DETAIL";
        </script>
        <script type="text/javascript" th:src="@{/js/pc/faq/faqDetail.js}"></script>
    </th:block>
</head>
<body>
    <section layout:fragment="left-content">
        <div id="faq_detail">
            <div id="faq_detail_scroll">
                <div>
                    <div class="faq_section">
                        <div class="faq_section_top">
                            <ul>
                                <li><span th:text="${faq.faqTitle}">암호 변경 방법 안내</span></li>
                                <li><span th:text="${faq.faqCategoryTitle}">클라이언트 설치</span></li>
                                <li class="faq_toggle_box">
                                    <button class="faq_folding_button" type="button">
                                        <span th:text="#{pc.faq.detail.faqSection.button.fold}">접기</span>
                                        <img src="/images/notice_arrow_down.png" alt="아래화살표">
                                    </button>
                                    <button class="faq_unfold_button" type="button">
                                        <span th:text="#{pc.faq.detail.faqSection.button.unfold}">펴기</span>
                                        <img src="/images/notice_arrow_up.png" alt="위화살표">
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="faq_section_bottom">
                            <p th:utext="${faq.faqContent}"></p>
                        </div>
                    </div>
                    <div class="answer_section">
                        <div class="faq_section_top">
                            <span th:utext="#{pc.faq.detail.answerSection.fontword}">RE &#58;</span>
                            <span th:text="${faq.faqTitle}">암호변경방법안내</span>
                        </div>
                        <div class="faq_section_bottom">
                            <p th:utext="${faq.faqReply}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="faq_detail_button">
                <button th:text="#{pc.faq.detail.button.list}"
                        th:onclick="|location.href='@{/faq/list (page=${param.page},size=${param.size},searchKeyword=${param.searchKeyword},faqCategory=${param.faqCategory})}'|">
                    목록</button>
            </div>
        </div>
    </section>
</body>
</html>