<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/pc-default-layout.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{page.title.pc.faqList}">[DAESANG SSL VPN] PC FAQ LIST</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/pc/faq/faq.css}" >
        <link rel="stylesheet" th:href="@{/css/pc/common/responsive.css}">
    </th:block>

    <th:block layout:fragment="script">
        <script>
            const pageName = "PC_FAQ-LIST";
        </script>
    </th:block>
</head>
<body>
    <section layout:fragment="left-content">
        <div id="faq_list">
            <div id="faq_list_content_top">
                <div class="faq_title_section" id="faq_list_title">
                    <p th:text="#{pc.faq.list.titleSection.title}">FAQ</p>
                    <h2 th:text="#{pc.faq.list.titleSection.guideMent}">자주 묻는 질문을 확인해보세요.</h2>
                </div>
    
                <div id="faq_list_search">
                    <form th:action="@{/faq/list}" th:method="get">
                        <div class="pc_search-box">
                            <img src="/images/search.png" alt="돋보기모양">
                            <input type="hidden" name="page" th:value="1">
                            <input type="hidden" name="size" th:value="5">
                            <input type="search" name="searchKeyword" th:placeholder="#{pc.faq.list.search.input.placeholder}" th:value="${param.searchKeyword}" autocomplete="off">
                            <input type="hidden" name="faqCategory" th:value="${param.faqCategory}">
                        </div>
                    </form>
                </div>
            
            </div>
                
            
            

            <div class="faq_list_content" id="faq_list_content">
                <div id="faq_list_category">
                    <ul>
                        <li th:each="code : ${faqCategoryCodes}">
                            <form th:action="@{/faq/list}" th:method="get">
                                <button type="submit"
                                        th:with="paramCategory=${#strings.trim(param.faqCategory)}"
                                        th:text="${code.faqCategoryTitle}"
                                        th:class="${paramCategory eq code.faqCategoryCode ? 'select_button_design' : ''}">
                                </button>
                                <input type="hidden" name="page" th:value="1">
                                <input type="hidden" name="size" th:value="5">
                                <input type="hidden" name="searchKeyword" th:value="${param.searchKeyword}">
                                <input type="hidden" name="faqCategory" th:value="${code.faqCategoryCode}">
                            </form>
                        </li>
                    </ul>
                </div>
                
                <div class="faq_list_table">
                    <table>
                        <thead>
                            <tr>
                                <th th:text="#{pc.table.category.number}">번호</th>
                                <th th:text="#{pc.table.category.title}">제목</th>
                                <th th:text="#{pc.table.category.dateCreated}">작성일</th>
                                <th th:text="#{pc.table.category.category}">구분</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:if="${#lists.isEmpty(faqs)}">
                                <td colspan="4" th:text="#{pc.table.list.empty.message}">게시물이 존재하지 않습니다.</td>
                            </tr>

                            <tr th:if="${!#lists.isEmpty(faqs)}" th:each="faq : ${faqs}">
                                <td class="faqId" th:text="${faq.faqId}">번호</td>
                                <td class="faqTitle" th:id="faqId_ +${faq.faqId}" >
                                    <a th:href="@{/faq/detail/{id}
                                                             (id            = ${faq.faqId},
                                                              page          = ${pagination.page},
                                                              size          = 5,
                                                              searchKeyword = ${param.searchKeyword},
                                                              faqCategory   = ${param.faqCategory})}"
                                       th:text="${faq.faqTitle}">제목</a>
                                </td>
                                <td class="faqCreateDate" th:text="${#temporals.format(faq.faqCreateDate, 'yyyy-MM-dd')}">작성일</td>
                                <td class="faqCategoryTitle" th:text="${faq.faqCategoryTitle}">구분</td>
                            </tr>
                        </tbody>
                      </table>
                </div>
                <div class="fap_list_button_section">
                    <div class="page_select">
                        <button>
                            <img src="/images/arrow_left.png" alt="왼쪽화살표">
                            <a th:href="@{/faq/list (page          = ${pagination.prevPage},
                                                     size          = 5,
                                                     searchKeyword = ${param.searchKeyword},
                                                     faqCategory   = ${param.faqCategory})}">
                                <span th:text="#{pc.button.previous}">Previous</span>
                            </a>
                        </button>

                        <ul>
                            <li th:each="pageNumber : ${#numbers.sequence(pagination.startPage, pagination.endPage)}" th:attr="class=${pageNumber == pagination.page ? 'page_number_active' : ''}">
                                <a th:href="@{/faq/list (page          = ${pageNumber},
                                                         size          = 5,
                                                         searchKeyword = ${param.searchKeyword},
                                                         faqCategory   = ${param.faqCategory})}" th:text="${pageNumber}">1</a>
                            </li>
                        </ul>

                        <button>
                            <a th:href="@{/faq/list (page          = ${pagination.nextPage},
                                                     size          = 5,
                                                     searchKeyword = ${param.searchKeyword},
                                                     faqCategory   = ${param.faqCategory})}">
                                <span th:text="#{pc.button.next}">Next</span>
                            </a>
                            <img src="/images/arrow_right.png" alt="오른쪽화살표">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>