<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layout/pc-default-layout.html}">
<head>
    <title th:text="#{page.title.pc.vpnOpenFailClient}">[DAESANG SSL VPN] PC VPN OPEN FAIL(CLIENT)</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/pc/vpn/vpn-connect.css}">
        <link rel="stylesheet" th:href="@{/css/pc/common/responsive.css}">
    </th:block>

    <th:block layout:fragment="script">
        <script>
            const pageName = "PC_VPN-OPEN-FAIL-CLIENT";
            const osCode = "[[${osCode}]]";
            const mdmUseFlag = "[[${mdmUseFlag}]]";
        </script>
    </th:block>
</head>
<body>
    <section layout:fragment="left-content">
        <div class="section_left_contents" id="pc_vpn-connect_contents">
            <div>
                <div>
                    <div class="pc_vpn-connect" id="pc_vpn-connect_fail_error">
                        <img src="/images/pc_vpn-connect_fail.png" alt="엑스표시">
                        <div class="pc_vpn-connect_text_wrap">
                            <h4 th:text="#{pc.authenticate.vpnOpenFailClient.guideMessage.problem}">
                                접속 프로그램에 이상이 있습니다.
                            </h4>
                            <h4 th:utext="#{pc.authenticate.vpnOpenFailClient.guideMessage.reinstall}">
                                프로그램 재설치 후 재로그인하세요.<br>
                                아래의 버튼을 눌러 VPN Agent<br>
                                설치 링크로 이동하세요.
                            </h4>
                        </div>
                        <div>
                            <button class="common-button-style-80" type="button" th:text="#{pc.authenticate.vpnOpenFailClient.button.downloadLink}" onclick="downloadVpnClient(osCode, mdmUseFlag)">
                                설치 링크로 이동하기
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section_right" layout:fragment="right-content"></div>
</body>
</html>