<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/pc-default-layout.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{page.title.pc.mainLading}">[DAESANG SSL VPN] PC MAIN LANDING</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/pc/main/main-landing.css}" >
        <link rel="stylesheet" th:href="@{/css/pc/common/responsive.css}">
    </th:block>

    <th:block layout:fragment="script">
        <script>
            const pageName = "PC_MAIN";
            const vpnClientFileRef = "[[${vpnClientFileRef}]]";
            const vpnAgentFileRef = "[[${npassAppAgentFileRef}]]";
            const osCode = "[[${osCode}]]";
        </script>
        <script type="text/javascript" th:src="@{/js/pc/main/main-landing.js}"></script>
    </th:block>
</head>

<body>
    <section layout:fragment="left-content">
        <h1><img src="/images/logo_daesang.png" alt="대상로고"></h1>

        <div class="section_left_contents" id="pc_landing_left_contents">
            <h2 th:utext="#{pc.landing.sectionLeft.vpnUserAccess.title}">VPN <br> 사용자 접속</h2>
            <div id="pc-notice-banner">
                <h3 th:text="#{pc.landing.sectionLeft.notice.title}">공지사항</h3>
                <div>
                    <img src="/images/notice_bell.png" alt="bell">
                    <div id="nt_ct_wrap">
                        <div>
                            <ul id="nt_ct">
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div id="arrowobox">
                        <img class="up_arrow" src="/images/notice_arrow_up.png" alt="▲">
                        <img class="down_arrow" src="/images/notice_arrow_down.png" alt="▼">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="section_right" layout:fragment="right-content" id="pc_landing_right_contents">
        <p th:utext="#{pc.landing.sectionRight.guideMent.vpnClientDownload}">
            VPN 연결은 <a class="vpn_agent_dwnld" onclick="startDownloadVpnClient()">접속 프로그램&#40;<span class="pointC">VPN Client</span>&#41;</a>의 다운로드 및 설치가 필요합니다.
        </p>
        <p th:text="#{pc.landing.sectionRight.guideMent.afterDownload}">
            설치 완료 후 VPN 접속하기를 누르세요.
        </p>
        <div>
            <button class="common-button-style-70 landing-start-button" type="button" th:text="#{pc.landing.sectionRight.button.start}" onclick="startVpn()">VPN 접속하기</button>
        </div>
        <p th:utext="#{pc.landing.sectionRight.guideMent.vpnAgentDownload}">
            사용자 인증의 편의를 위해 <a class="vpn_agent_dwnld" onclick="startDownloadVpnAgent()">인증 프로그램</a>을 다운받아 설치 후<br>사용이 가능합니다.
        </p>
    </div>
</body>
</html>