<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="pcConfigFragment">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon" sizes="16x16">

    <link rel="stylesheet" href="/css/pc/common/common.css">
    <link rel="stylesheet" href="/css/pc/common/header.css">
    <link rel="stylesheet" href="/css/pc/common/footer.css">
    <link rel="stylesheet" href="/css/pc/common/modal.css">
    <link rel="stylesheet" href="/css/pc/common/responsive.css">

    <script src="/js/library/jquery-3.7.0.min.js"></script>
    <script src="/js/pc/common/modal.js"></script>
    <script src="/js/pc/common/header.js"></script>
    <script src="/js/common/domUtils.js"></script>
    <script src="/js/common/commonUtils.js"></script>
    <script src="/js/common/vpnAgentUtils.js"></script>
    <script src="/js/common/vpnClientUtils.js"></script>
    <script src="/js/common/authenticate.js"></script>
    <script src="/js/common/authenticate-apis.js"></script>
    <script src="/js/common/agent.js?v=1"></script>
    <script src="/js/common/cookieUtils.js"></script>

    <script th:inline="javascript">
        updateIsAppToSession();
        const locale = [[${#locale}]];
        const modalMessages = {
            'vpnModal_pc_vpnClient_check_vpn' : [[#{pc.landing.loadingPopup.loadingCircle.word}]],
            'vpnModal_pc_vpnClient_check_message' : [[#{pc.landing.loadingPopup.guideMent.connectionWait}]],
            'vpnModal_pc_vpnClient_download_message' : [[#{pc.landing.popup.guideMent.clientDownload}]],
            'vpnModal_pc_vpnClient_download_button' : [[#{pc.landing.popup.button.download}]],
            'vpnModal_pc_vpnClient_refresh_message' : [[#{pc.landing.popup.guideMent.screenRefresh}]],
            'vpnModal_pc_vpnClient_refresh_button' : [[#{pc.landing.popup.button.screenRefresh}]],
            'vpnModal_pc_common_message_close_button' : [[#{modal.common.close.button}]],
            'vpnModal_pc_common_message_confirm_button' : [[#{modal.common.confirm.button}]],
            'authenticate_validation_message_noInput_username' : [[#{authenticate.validation.message.notInput.username}]],
            'authenticate_validation_message_noInput_password' : [[#{authenticate.validation.message.notInput.password}]],
            'authenticate_validation_message_noInput_otp' : [[#{authenticate.validation.message.notInput.otp}]],
            'authenticate_validation_message_noInput_newSetPassword' : [[#{authenticate.validation.message.notInput.newSetPassword}]],
            'authenticate_validation_message_noInput_newSetPasswordConfirm' : [[#{authenticate.validation.message.notInput.newSetPasswordConfirm}]],
            'authenticate_error_message_expire_otp' : [[#{authenticate.error.message.expire.otp}]],
            'authenticate_error_message_notExist_otp' : [[#{authenticate.error.message.notExist.otp}]],
            'authenticate_success_message_setPassword' : [[#{authenticate.set-password.message.success}]],
            'authenticate_success_message_resetPassword' : [[#{authenticate.reset-password.message.success}]],
            'authenticate_error_message_mfa' : [[#{authenticate.error.message.mfa}]],
            'authenticate_error_unknown_message_mfa' : [[#{authenticate.error.unknown.message.mfa}]],

            'change_password_message_error_sameCharacter3times' : [[#{modal.change.password.message.error.sameCharacter3times}]],
            'change_password_message_error_passwordComplex' : [[#{modal.change.password.message.error.passwordComplex}]],
            'change_password_message_error_equalPassword' : [[#{modal.change.password.message.error.equalPassword}]],
            'change_password_message_error_equalLoginEmp' : [[#{modal.change.password.message.error.equalLoginEmp}]],

            'vpn_mfaAuthenticate_title' : [[#{modal.vpn.mfaAuthenticate.title}]],
            'vpn_mfaAuthenticate_message' : [[#{modal.vpn.mfaAuthenticate.message}]],
            'vpn_mfaAuthenticate_addButton' : [[#{modal.vpn.mfaAuthenticate.addButton}]],
            'vpn_tunneling_open_start_message_windows' : [[#{modal.vpn.tunneling.start.message.windows}]],
            'vpn_tunneling_open_start_message_macos' : [[#{modal.vpn.tunneling.start.message.macos}]],
            'modal_qr_title' : [[#{modal.qr.title}]],
            'modal_qr_guide_title' : [[#{modal.qr.guide.title}]],
            'modal_qr_guide_message' : [[#{modal.qr.guide.message}]],
            'modal_qr_button_cancel' : [[#{modal.qr.button.cancel}]],
            'modal_error_message_notFound_agentApp' : [[#{modal.error.message.notFound.agentApp}]],
            'modal_error_message_notFound_mfaDevice' : [[#{modal.error.message.notFound.mfaDevice}]],
            'modal_error_message_notValid_mfaAuth' : [[#{modal.error.message.notValid.mfaAuth}]],
            'modal_button_vpn_loading_error_cancel' : [[#{pc.vpnLoadingModal.button.cancel}]],

            'modal_mfaAuth_toOtpAuth_message' : [[#{modal.mfaAuth.toOtpAuth.message}]],
            'modal_common_confirm_button' : [[#{modal.common.confirm.button}]],
        }
        const domMessage = {
            "pc_mainLanding_notice_message_empty" : [[#{pc.landing.notice.message.empty}]],
            "pc_signIn_right_input_email" : [[#{pc.signIn.sectionRight.logIn.title.email}]],
            "pc_signIn_right_input_mobile" : [[#{pc.signIn.sectionRight.logIn.title.mobile}]],
            "pc_signIn_left_guideMent_certificationForUse" : [[#{pc.signIn.sectionLeft.guideMent.certificationForUse}]],
            "pc_signIn_left_guideMent_beforeSendOtp_up" : [[#{pc.signIn.sectionLeft.guideMent.beforeSendOtp.up}]],
            "pc_signIn_left_guideMent_beforeSendOtp_down_email" : [[#{pc.signIn.sectionLeft.guideMent.beforeSendOtp.down.email}]],
            "pc_signIn_left_guideMent_beforeSendOtp_down_mobile" : [[#{pc.signIn.sectionLeft.guideMent.beforeSendOtp.down.mobile}]],
            "pc_signIn_right_password_input_placeholder" : [[#{pc.signIn.sectionRight.logIn.input.password.placeholder}]],
            "pc_signIn_right_password_input_fail_placeholder" : [[#{pc.signIn.sectionRight.logIn.input.password.placeholder.fail}]],
            "pc_signIn_right_password_input_lock_placeholder" : [[#{pc.signIn.sectionRight.logIn.input.password.placeholder.lock}]],
            "pc_signIn_left_passwordCheckLock_message" : [[#{pc.signIn.sectionLeft.password-check-lock.message}]],
            "pc_signIn_left_passwordCheckLock_remainTime" : [[#{pc.signIn.sectionLeft.password-check-lock.remainTime}]],
            'pc_signIn_right_signIn_button' : [[#{pc.signIn.sectionRight.logIn.button}]],
            'pc_signIn_right_otpSend_button' : [[#{pc.signIn.sectionRight.otpSend.button}]],
            "pc_otp_right_otp_input_fail_placeholder" : [[#{pc.authenticate.otp.sectionRight.otp.input.placeholder.fail}]],
            "pc_otp_right_otp_input_lock_placeholder" : [[#{pc.authenticate.otp.sectionRight.otp.input.placeholder.lock}]],
            "pc_otp_right_otp_input_placeholder" : [[#{pc.authenticate.otp.sectionRight.input.backgroundText.example}]],
            "pc_otp_right_otp_input_placeholder_reSend" : [[#{pc.authenticate.otp.sectionRight.otp.input.placeholder.resend}]],
            'pc_otp_right_otpReSend_button' : [[#{pc.authenticate.otp.sectionRight.button.send.otp}]],
            'pc_otp_right_otpCheck_button' : [[#{pc.authenticate.otp.sectionRight.inputFeild.button.enterCode}]],
            "pc_otp_left_otpCheckLock_message" : [[#{pc.authenticate.otp.sectionLeft.otp-check-lock.message}]],
            "pc_otp_left_otpCheckLock_remainTime" : [[#{pc.authenticate.otp.sectionLeft.otp-check-lock.remainTime}]],
            'pc_otp_left_otpCheck_init_message_up' : [[#{pc.authenticate.otp.sectionLeft.guideMent.initOtp}]],
            'pc_otp_left_otpCheck_message_up' : [[#{pc.authenticate.otp.sectionLeft.guideMent.otp}]],
            'pc_otp_left_otpCheck_init_message_down' : [[#{pc.authenticate.otp.sectionLeft.guideMent.sendOtpCode}]],
            'pc_set_password_message_notInput_newSetPassword' : [[#{pc.authenticate.setPassword.sectionRight.inputFeild.guideMent.notInput.newSetPassword}]],
            'pc_set_password_message_notInput_newSetPasswordConfirm' : [[#{pc.authenticate.setPassword.sectionRight.inputFeild.guideMent.notInput.newSetPasswordConfirm}]],
            'pc_set_password_message_match_password' : [[#{pc.authenticate.setPassword.sectionRight.inputFeild.guideMent.passwordMatch}]],
            'pc_set_password_message_notMatch_password' : [[#{pc.authenticate.setPassword.sectionRight.inputFeild.guideMent.passwordNotMatch}]],
            'pc_reset_password_left_message_up' : [[#{pc.authenticate.resetPassword.sectionLeft.guideMent.passwordUpdateComplete.up}]],
            'pc_set_password_left_message_up' : [[#{pc.authenticate.setPassword.sectionLeft.guideMent.passwordUpdateComplete.up}]],
            'pc_set_password_left_message_down' : [[#{pc.authenticate.setPassword.sectionLeft.guideMent.passwordUpdateComplete.down}]],
            'pc_set_password_right_button_reconnect' :[[#{pc.authenticate.setPassword.sectionRight.button.connectAgain}]],
        }
        const osType = [[${osType}]];

        function openGuide() {
            let guideFileName = (locale === 'ko' || locale === 'ko_KR')
                ? '/guide/ds_vpn_ssp_guide_pc_ko.pdf'
                : '/guide/ds_vpn_ssp_guide_pc_en.pdf'

            const guideUrl = window.location.protocol
                                            .concat("//")
                                            .concat(window.location.host)
                                            .concat(guideFileName);

            isApp()
                ? webMessage.openDeepLink(guideUrl)
                : window.open(guideUrl);
        }
    </script>

    <!-- content css -->
    <th:block layout:fragment="css"></th:block>
    <!-- content script -->
    <th:block layout:fragment="script"></th:block>
</head>

</html>