<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org " xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="pcHeaderFragment" id="pc-header">
    <nav>
        <ul id="gnb">
            <div>
                <li>
                    <a href="/" id="logo-home-button">
                    </a>
                </li>
                <li>
                    <a href="/notice/list" th:text="#{pc.common.header.menu.notice}" class="pc_title_notice">Notice</a>
                </li>
                <li>
                    <a href="/faq/list" th:text="#{pc.common.header.menu.FAQ}" class="pc_title_faq">FAQ</a></li>
                <li>
                    <div id="language">
                        <div class="toggle-button">
                            <span></span>&nbsp;&nbsp;
                            <img src="/images/notice_arrow_down.png" alt="▼">
                        </div>
                        <ul>
                            <li th:text="#{pc.common.header.menu.select.language.ko}" id="language_ko">한국어</li>
                            <li th:text="#{pc.common.header.menu.select.language.en}" id="language_en">영어</li>
                        </ul>
                    </div>
                </li>
    
                <li>
                    <a onclick="openGuide();" th:text="#{pc.common.header.menu.manual}">Manual</a>
                </li>
            </div>

            <li sec:authorize="isAuthenticated()">
                <button type="submit" th:text="#{pc.common.header.menu.re-connect}" id="signOutButton" onclick="disconnectPcVpn()">다시 접속하기</button>
            </li>
        </ul>
    </nav>
</header>