.section_right_wrap {
    display: none;
}

.section_left_wrap {
    width: 100%;
}

.section_left {
    max-width: 141.6rem;
    width: 100%;
}

#pc_vpn-connect_contents {
    height: 100%;
}

#pc_vpn-connect_contents > div {
    position: relative;
    height: 100%;
}

#pc_vpn-connect_contents > div > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.pc_vpn-connect {
    width: 100%;
    text-align: center;
    color: #888B8D;
}

.pc_vpn-connect > img {
    width: 23.6rem;
    height: 23.6rem;
}

.pc_vpn-connect a.btn {
    margin: 0 auto;
}

.pc_vpn-connect_text_wrap {
    margin: 3rem 0 4.5rem;
}

.pc_vpn-connect_text_wrap > h4:first-child {
    margin-bottom: 3rem;
}

#pc_vpn-connect_success button, #pc_vpn-connect_fail_error button, #pc_vpn-connect_fail_unknown button {
    max-width: 48rem;
}

#vpn-open-complete-botton-wrap {
    display: flex;
    justify-content: center;
}

#vpn-open-complete-botton-wrap button {
    width: 48rem;
    margin: 0;
}

#vpn-open-complete-botton-wrap button:first-child {
    margin-right: 4rem;
}
