<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/pc-default-layout.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{page.title.pc.noticeDetail}">[DAESANG SSL VPN] PC NOTICE DETAIL</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/pc/notice/notice.css}" >
        <link rel="stylesheet" th:href="@{/css/pc/common/responsive.css}">
    </th:block>

    <th:block layout:fragment="script">
        <script>
            const pageName = "PC_NOTICE-DETAIL";
        </script>
    </th:block>
</head>
<body>
    <section layout:fragment="left-content">
        <div id="notice_detail">
            <div id="notice_detail_title">
                <table>
                    <tr>
                        <th th:text="${notice.noticeTitle}">Title</th>
                        <th th:text="${#temporals.format(notice.noticeCreateDate, 'yyyy-MM-dd')}">CreateDate</th>
                        <th th:text="${notice.noticeCreateUserName}">Creator</th>
                    </tr>
                </table>
            </div>

            <div id="notice_detail_scroll">
                <div>
                    <p th:utext="${notice.noticeContent}"></p>
                </div>
            </div>

            <div id="notice_detail_button">
                <div>
                    <button type="button">
                        <a th:href="*{previousNextNoticeIds.previousPage} == 0 ? |/notice/detail/*{previousNextNoticeIds.currentPage}| : |/notice/detail/*{previousNextNoticeIds.previousPage}|"
                           th:text="#{pc.notice.detail.button.previousPost}">이전글</a>
                    </button>

                    <button type="button">
                        <a th:href="*{previousNextNoticeIds.nextPage} == 0 ? |/notice/detail/*{previousNextNoticeIds.currentPage}| : |/notice/detail/*{previousNextNoticeIds.nextPage}|"
                           th:text="#{pc.notice.detail.button.nextPost}">다음글</a>
                    </button>
                </div>

                <button th:text="#{pc.notice.detail.button.listPost}"
                        th:onclick="|location.href='@{/notice/list (page=${param.page},size=${param.size},searchKeyword=${param.searchKeyword})}'|">목록</button>
            </div>
        </div>
    </section>
</body>
</html>