<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/pc-default-layout.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{page.title.pc.setPassword}">[DAESANG SSL VPN] PC SET PASSWORD</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/pc/authenticate/authenticate.css}" >
        <link rel="stylesheet" th:href="@{/css/pc/common/responsive.css}">
    </th:block>

    <th:block layout:fragment="script">
        <script>
            const pageName = "PC_RESET-PASSWORD";
        </script>
        <script type="text/javascript" th:src="@{/js/pc/authenticate/set-password.js}"></script>
    </th:block>
</head>
<body>
    <section layout:fragment="left-content">
        <h1><img src="/images/logo_daesang.png" alt="대상로고"></h1>
        <div class="section_left_contents" id="pc_auth_setPass_left_contents">
            <h2 class="subC" th:utext="#{pc.authenticate.resetPassword.sectionLeft.guideMent.changePassword(${passwordExpire})}">
                마지막으로 암호를 변경한 지<br>
                <span th:text="${passwordExpire}">000</span>일이 지나 암호변경이 필요합니다.<br><br>
                암호를 변경해 주세요.
            </h2>
        </div>
    </section>

    <div class="section_right" layout:fragment="right-content" id="pc_auth_setPass_right_contents">
        <ul id="setPasswordInputArea">
            <li>
                <h3 th:text="#{pc.authenticate.setPassword.sectionRight.inputFeild.title.password}">암호</h3>
                <input autofocus class="setNewPasswordInput" type="password" id="newSetPassword" th:placeholder="#{pc.authenticate.setPassword.sectionRight.input.placeholder.newPassword}" placeholder="새 암호를 입력해 주세요.">
            </li>
            <li>
                <h3 th:text="#{pc.authenticate.setPassword.sectionRight.inputFeild.title.passwordCheck}">암호 확인</h3>
                <input class="setNewPasswordInput" type="password" id="newSetPasswordConfirm" th:placeholder="#{pc.authenticate.setPassword.sectionRight.input.placeholder.newPasswordConfirm}" placeholder="같은 암호를 입력해 주세요.">
            </li>
        </ul>

        <div id="setPasswordErrorMessageArea"><span class="pss_match" id="setPasswordErrorMessage"></span></div>

        <div>
            <button id="setPasswordButton" onclick="setPassword();" type="button" class="set-password-button common-button-style-80" th:text="#{pc.authenticate.setPassword.sectionRight.inputFeild.button.passwordChange}">암호 변경</button>
        </div>

        <div id="setPassSuccess_right_contents_guide" style="display: none;">
            <img src="/images/otp_i_mark.png" alt="i마크" class="i-mark">
            <p th:utext="#{pc.authenticate.setPassword.sectionRight.guideMent.processAfterLogin}">본인인증 단말 미등록자일 경우, 다시 로그인한 후<br>본인인증용 단말을 등록하는 과정이 필요합니다.</p>
        </div>
    </div>
</body>
</html>