<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout/pc-default-layout.html}">
<head>
    <title th:text="#{page.title.pc.error400}">[DAESANG SSL VPN] PC ERROR 400</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/pc/error/error-page.css}">
        <link rel="stylesheet" th:href="@{/css/pc/common/responsive.css}">
    </th:block>

    <th:block layout:fragment="script"></th:block>
</head>
<body>
    <section layout:fragment="left-content">
        <h1>
            <a href="/">
                <img src="/images/logo_daesang.png" alt="대상로고">
            </a>
        </h1>

        <div class="section_left_contents pc_error-page" id="pc_error-page_400">
            <h2 th:text="#{pc.errorPage.400.title}">400 Error</h2>
            <h2 class="subC" th:utext="#{pc.errorPage.400.message}">
                페이지가 작동하지 않습니다.<br>
                문제가 계속되면 관리자에게 문의하세요.
            </h2>
        </div>

        <div class="pc_error-page_background">
            <img src="/images/logo_daesang.png" alt="백그라운드로고">
        </div>
    </section>
</body>
</html>